* {
  /* border: 1px solid; */
  box-sizing: border-box;
}

#head {
  background-color: rgb(255 204 153 / 30%);
  display: grid;
  grid-area: header;
  grid-template-columns: 43.5vw auto;
  grid-template-areas: "img nav";
  margin-left: 1vw;
  margin-right: 1vw;
}

main {
  display: grid;
  grid-area: main;
  grid-template-columns: 21.5vw 48vw 21.5vw;
  grid-template-areas: "leftblock midblock rigthblock";
  column-gap: 1.8vw;
  margin-left: 1vw;
}

footer {
  background-color: rgb(255 204 153 / 30%);
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-auto-flow: row;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vw;
}

footer p {
  text-align: justify;
  line-height: 1.75;
  font-size: 1.7vw;
  padding-left: 3vw;
  padding-right: 3.5vw;
}

#item-a {
  grid-column: 1/2;
  grid-row: 1 / 2;
}

#item-d {
  grid-column: 4/5;
  grid-row: 1 / 2;
}

#container {
  display: grid;
  grid-template-rows: 25vw 104vw;
  gap: 1vw;
  grid-template-areas: "header" "main";
}

#img {
  grid-area: img;
  grid-column: 1 / 2;
  grid-row: 1/ 2;
  width: 88%;
  height: 85%;
  place-self: center;
  background-image: url("../images/happy.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 13px;
}

nav {
  grid-area: nav;
  grid-column: 2/ 3;
  grid-row: 1/ 2;
  width: 92%;
  height: 85%;
}

#leftblock {
  grid-area: leftblock;
  grid-column: 1/ 2;
  grid-row: 1/ 2;
  padding-left: 2vw;
  padding-right: 2vw;
}

#midblock {
  grid-area: midblock;
  grid-column: 2/ 3;
  grid-row: 1/ 2;
  padding-left: 1vw;
}

#rigthblock {
  grid-area: rigthblock;
  grid-column: 3/ 4;
  grid-row: 1/ 2;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.5vw;
}

#leftblock p {
  text-align: justify;
  line-height: 1.75;
  font-size: 1.7vw;
  margin-bottom: 5vw;
  margin-top: 2.5vw;
}

#midblock p {
  line-height: 1.75;
  font-size: 1.7vw;
  padding-top: 0;
  text-align: justify;
}

#midblock h1 {
  margin-bottom: 2.5vw;
  font-size: 3vw;
}

#rigthblock p {
  text-align: justify;
  line-height: 1.73;
  font-size: 1.7vw;
  margin-top: 1vw;
}

#midblock article {
  padding-left: 2vw;
  padding-right: 6vw;
  margin-bottom: 6.5vw;
}

nav span {
  display: block;
  font-size: 2vw;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: blanchedalmond;
  margin-top: 4%;
  height: 13%;
  width: 85%;
}

nav span:nth-child(1) {
  margin-top: 6%;
}

nav span:hover {
  background-color: rgb(240 178 80);
}

nav a {
  text-decoration: none;
}

#leftblock,
#midblock,
#rigthblock {
  background-color: rgb(255 204 153 / 30%);
}
