* {
  /*border: 1px solid;*/
  box-sizing: border-box;
}
html {   
  width: 980px;
  margin: auto;
  background-color: #f5f5f0;
}
body {
  min-width: 930px;
  width: 930px;
  
}
footer {
  margin-left: 10px;
  display: block;
  height: 260px;
  width: 932px;
  padding-left: 10px;
  background-color: rgb(255, 204, 153, 0.3);
}
footer p {
  float: left;
  width: 20%;
  font-size: 14px;
  text-align: justify;
  line-height: 2.1;
  padding-left: 20px;
  padding-top: 18px;
  margin-right: 55px;
}
footer p:nth-last-child(1) {
  margin-right: 5px;
}
main article {
  margin: 2px;
}

#leftblock p {
  text-align: justify;
  line-height: 1.85;
  font-size: 16px;
  margin-bottom: 50px;
}
#midblock p {
  font-size: 16px;
  margin-bottom: 19px;
  line-height: 1.8;
  padding-top: 0px;
  text-align: justify;
}
#midblock h1 {
  margin-bottom: 30px;
  font-size: 24px;
}
#rigthblock p {
  text-align: justify;
  line-height: 1.83;
  font-size: 16px;
  margin-top: 5px;
}
#midblock article {
  padding-left: 28px;
  padding-right: 45px;
  padding-top: 0px;
  margin-bottom: 70px;
}

#head {
  margin-left: 10px;
  height: 250px;
  display: block;  
  padding: 15px;
  min-width: 932px;
  background-color: rgb(255, 204, 153, 0.3);
}
nav {
  display: inline-block;
  width: 415px;
  margin: 5px;
  margin-top: 0px;
  }
#img {
  height: 190px;
  width: 385px;
  float: left;
  margin: 15px;
  margin-left: 6px;
  background-image: url(images/happy.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
   border-radius: 13px; 
}

nav span {
  display: block;
  font-size: 20px;
  text-align: center;
  margin: 18px;
  margin-left: 0px;
  border: 1px solid grey;
  border-radius: 5px;

  background-color: blanchedalmond;
}
main {
  display: block;
  height: 1030px;
  min-width: 960px;
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  padding-top: 0px;
}
#leftblock {
  height: 100%;
  width: 21.5%;
    float: left;
  padding: 10px;
  margin: 0px;
}
#midblock {
  height: 100%;
  width: 52%;
  float: left;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
#rigthblock {
  height: 100%;
  width: 21.5%;
  float: left;
  padding: 10px;
  margin: 0px;
}
#leftblock,
#midblock,
#rigthblock {
  padding-left: 20px;
  background-color: rgb(255, 204, 153, 0.3);
}
